//@import '../node_modules/bootstrap/scss/bootstrap-grid';
//@import '../node_modules/bootstrap/scss/bootstrap-reboot';
//@import '../node_modules/bootstrap/scss/_utilities';

.close-container{
    display: flex;
    flex-direction: row-reverse;
}

.side-menu{
    a{
        text-decoration: none;
    }
}

body{
    font-family: Roboto, sans-serif
}

.row{
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align:center;
    >.cell{
        margin: .5em;
    }
    &.header{
        font-weight: bold;
    }
    &:nth-child(even){
        background-color: #CCC;
    }

}   

.row.col3 > .cell{
width:33.3%;
}