//@import '../node_modules/bootstrap/scss/bootstrap-grid';
//@import '../node_modules/bootstrap/scss/bootstrap-reboot';
//@import '../node_modules/bootstrap/scss/_utilities';

.close-container{
    display: flex;
    flex-direction: row-reverse;
}

.side-menu{
    a{
        text-decoration: none;
    }
}

body{
    font-family: Roboto, sans-serif
}

.row{
    display: flex;
    justify-content: space-evenly;
    .cell{
        margin: 1em;
    }
}